/.idea
/admin
/auth
/availability
/backup
/badges
/blocks
/blog
/cache
/calendar
/cohort
/comment
/competency
/completion
/course
/dataformat
/enrol
/error
/files
/filter
/grade
/group
/install
/iplookup
/lang
/lib
/local
/login
/media
/message
/mnet
/mod
/my
/notes
/pix
/plagiarism
/portfolio
/question
/rating
/report
/repository
/rss
/search
/tag
/test
/theme/adaptable/
/theme/boost/
/theme/bootstrapbase/
/theme/clean/
/theme/essential/
/theme/more/
/theme/photo/
/theme/base/
/theme/canvas/
/theme/*.php
/theme/*.txt
/user
/userpix
/webservice
.csslintrc
.eslintignore
.eslintrc
.gitattributes
.jshintrc
.shifter.json
.stylelintignore
.stylelintrc
.travis.yml
composer.json
composer.lock
/*.php
/*.txt
/*.json
/*.*.dist
/*.js
